numpy>=1.16.0
cython
tornado>=5.0.1
requests
matplotlib
tqdm>=4.38.0
paramiko~=2.4
dask==2.6.0
distributed==2021.10.0
configspace<=0.4.10
gluoncv>=0.5.0
scikit-optimize
pandas>=0.24.0,<1.0
mxnet-cu90mkl
pytorch>=1.1.0 
torchvision>=0.3.0 
cudatoolkit>=9.0
